{% extends "base_generic.html" %}

{% block content %}

    <h1 class="titulo_1">FSF MOSTOLES</h1>


    <h2 class="titulo_2">Sobre nosotros</h2>

      <p>Fundado en 1988, somos un club deportivo que en sus 35 años de historia, ha ganado todos los títulos regionales y nacionales posibles
          (Liga, Copa y Supercopa) en la Primera División del futbol sala femenino español.   </p>

    <p>Los campeonatos logrados han convertido al club mostoleño en una referencia del fútbol sala femenino a nivel nacional, aportando
        jugadoras tanto a la Selección de Madrid como a la Selección Española. Y es que desde su ascenso a la entonces División de Honor en la temporada 94/95,
        nuestro club se ha mantenido ininterrumpidamente en la máxima categoría, siendo actualmente el equipo más longevo de la competición.<p>


        <p> El Fútbol Sala Femenino Móstoles es ante todo una estructura deportiva con una filosofía de servicio social e igualdad de oportunidades,
    tendente a fomentar la participación de la mujer en el deporte de élite. Es un club moderno y funcional que se ha convertido en el referente
    deportivo de la ciudad, ofreciendo participación en todas las competiciones existentes en la actualidad a nivel regional y por supuesto a nivel nacional.
    Organiza clínics, torneos y conferencias para fomentar la integración de la mujer en el deporte de élite. La ciudad de Móstoles puede presumir de contar
    con uno de los clubes punteros de la Primera División de Fútbol Sala Femenino, que es la máxima categoría nacional de esta especialidad deportiva y cuyas
    competiciones dependen de la Real Federación Española de Fútbol (es el equivalente a la 1ª División de Fútbol).
      </p>
    <div>
         <img src="/static/media/index.jpeg" alt="img_index"
             style="width: 1000px;">
    </div>

{% endblock %}